/* #f26574 orangish*/


/* #333e48 grayish*/

@font-face {
    src: url(fonts/handelGothic.ttf);
    font-family: handelGothic;
}

header {
    font-family: handelGothic;
    font-size: 46px;
    text-align: center;
}

body {
    font-family: handelGothic;
    background: #333e48;
    color: rgba(255, 255, 255, 1);
}

footer {
    font-size: 16px;
    text-align: center;
}

.intro {
    text-align: center;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: solid 5px #f26574;
}

.boxtext {
    text-align: center;
}

.img {
    max-height: 80%;
    max-width: 80%;
}

.forms {
    text-align: center;
    margin-bottom: 20px;
}