body {
    background-color: darkslategray;
}

.robot {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 10%;
    left: 10%;
}

.head {
    height: 100px;
    width: 100px;
    background-color: wheat;
    border-radius: 25px;
}


/* .torso {
    height: 110px;
    width: 110px;
    background-color: wheat;
    border-radius: 15px;
}

.bottom {
    height: 40px;
    width: 120px;
    background-color: wheat;
    border-radius: 10px;
}

.leftarm {
    height: 100px;
    width: 30px;
    background-color: wheat;
    border-radius: 10px;
}

.rightarm {
    height: 30px;
    width: 100px;
    background-color: wheat;
    border-radius: 10px;
}

.leftleg {
    height: 70px;
    width: 40px;
    background-color: wheat;
    border-radius: 10px;
}

.rightleg {
    height: 70px;
    width: 40px;
    background-color: wheat;
    border-radius: 10px;
} */